ws-test/target/classes/ws-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://api.icraftsoft.net:5858/ws/users.wsdl" service="UserPortService" port="UserPortSoap11" serviceAddress="http://api.icraftsoft.net:5858/ws" doc:name="Web Service Consumer"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="ws-testFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap" doc:name="HTTP"/>
        <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.id]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.method'=='GET']">
                <flow-ref name="GetFlow" doc:name="Flow Reference"/>
            </when>
            <when expression="#[message.inboundProperties.'http.method'=='DELETE']">
                <flow-ref name="DeleteFlow" doc:name="Flow Reference"/>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="GetFlow">
        <dw:transform-message doc:name="Transform Message" metadata:id="670b24e2-2645-4c9a-a94b-7a9c0b90a1cf">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.craftsoftware.com/users
---
{
	ns0#GetUserRequest: {
		ns0#id: flowVars.id as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="GetUser" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b1ba4608-ebd9-4dc5-8235-97ada041b1e1">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.craftsoftware.com/users
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="DeleteFlow">
        <dw:transform-message doc:name="Copy_of_Transform Message" metadata:id="670b24e2-2645-4c9a-a94b-7a9c0b90a1cf">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.craftsoftware.com/users
---
{
	ns0#DeleteUserRequest: {
		ns0#id: flowVars.id as :number
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="DeleteUser" doc:name="Copy_of_Web Service Consumer"/>
    </flow>
</mule>
